/ title: So Play We All
/ id: index

%link{ :rel => 'stylesheet', :href => 'stylesheets/style.css' }
%h1 So Play We All

#introduction
  %a{ :name => 'introduction' }
  %h2 Introduction

  :markdown
    [Peter Harkins](http://push.cx), [Jim C. Gadrow](http://www.jgadrow.com),
    and [Luke Hutscal](http://girasquid.com) are each building an
    online game as part of a contest between us. Every week we'll pick a new
    area of our games to code on and budget how many hours to spend on it.
    Every week, someone will be judged to have done the best. Anyone who
    doesn't put in the time pays the price by funding the others' games.
    Anyone who quits has to delete their entire codebase and all backups.

    The contest is not open to join, but we encourage anyone who likes the idea
    to take a copy of rules, find some friends, and build games. And please,
    tell us about it so we can link to you here.

  = render 'rss-ad'

#rules
  %a{ :name => 'rules' }
  %h2 Rules

  :markdown
    1.  &#8220;[Fuck it, we'll do it
        live](http://youtu.be/2tJjNVVwRCY?t=1m)&#8221; Games are live as
        currently developed, even if they suck, starting from &#8220;but it's
        just a login screen&#8221;. Develop on master, develop on prod box if
        you have to, but don't hold any code back.
    1.  Each week we'll collectively choose how many hours to spend on our
        games and a non-mandatory topic. Anyone who doesn't spend the time
        funds the other games by giving a $20 gift card to each other player
        for game-related expenses (eg. ThemeForest, Linode, AdWords). If you
        finish early, you rock. Boast a little bit and make the others bow to
        your awesomeness. (Exception for suiting up: if you have to wear a suit
        to a funeral, a close family wedding, or a court date, you are allowed
        to miss that week. No other exceptions, not even dismemberment.)
    1.  You have to spend at least that minimum amount of time and can spend up
        to 3x as much.
    1.  If you had to pay the time budget penalty for not making your hours,
        you can &#8220;bank&#8221; unused time and use it in future weeks as
        your availability allows.
    1.  Deadline is Wednesday at noon GMT to deploy code and publish a blog
        post, schedule it to make it happen.
    1.  A [BBGameZone forum](http://www.bbgamezone.net) poll judges who won
        that week, 24h window. Penalty is $10 in funding to each player for a
        late post.
    1.  By Saturday noon GMT, write a blog post to respond to others' updates,
        talk smack, enjoy victory, critique game design, suggest improvements,
        etc.
    1.  Not just OK but encourage to find or buy assets: art, themes,
        libraries, modules. You can reuse your own pet library as long as it
        has been released publicly before that week, but outsourcing code is
        forbidden. Penalty for outsourcing code is $20 + as much was spent on
        outsourcing to each player.
    1.  Whoever reaches $10k in profit first wins the contest. But whoever
        turns their game into a full-time job wins all the bragging rights.
    1.  Rules can change by unanimous acclaim.

  %p
    So say we all. So play we all.

#competitors
  %a{ :name => 'competitors' }
  %h2 Competitors

  %table.competitors
    %thead
      %tr
        %th Game
        %th
        %th Author
        %th.balance Balance
    %tbody
      %tr
        %td <a href="http://allabrilyn.com">Allabrilyn</a>
        %td (<a href="http://blog.allabrilyn.com">blog</a>)
        %td <a href="http://www.jgadrow.com">Jim C. Gadrow</a>
        %td.balance $60.25
      %tr
        %td <a href="http://fantasyadventuregame.com">Fantasy Adventure</a>
        %td (<a href="http://blog.fantasyadventuregame.com">blog</a>)
        %td <a href="http://girasquid.com">Luke Hutscal</a>
        %td.balance -$22.16
      %tr
        %td <a href="http://www.oaqn.com">Oaqn</a>
        %td (<a href="http://blog.oaqn.com">blog</a>)
        %td <a href="http://push.cx">Peter Harkins</a>
        %td.balance -$28.35

#progress
  %a{ :name => 'progress' }
  %h2 Progress

  %table.progress
    %thead
      %tr
        %th.week Week
        %th Topic
        %th.hours Hours
        %th.label
        %th.update Update
        %th.votes Votes
        %th.response Response
    %thead
    %tbody
    - abbreviations = { :allabrilyn => 'Ab', :fantasyadventure => 'FA', :oaqn => 'o' }
    - YAML::load_file('progress.yaml').each do |week|
      - winning_vote_count = week[:votes].sort { |a, b| a[1] <=> b[1] }.last.last
      - winning_vote_count = -1 if 0 == winning_vote_count # sentinel value for 'no winner'
      %tr.weekdivider
        %td{ :colspan => 7 }
      %tr.week
        %td.week{ :rowspan => 4 }= week[:week]
        %td{ :rowspan => 4 }
          %a{ :href => week[:poll_url] }= week[:topic]
        %td.hours{ :rowspan => 4 }= week[:hours]
      - [:allabrilyn, :fantasyadventure, :oaqn].each do |game|
        %tr.game
          %td.label= abbreviations[game]
          %td.update
            %a{ :href => week[game][:update_url] }= week[game][:update]
          %td.votes{ :class => week[:votes][game] == winning_vote_count ? 'winner' : '' }= week[:votes][game]
          %td.response
            %a{:href => week[game][:response_url] }= week[game][:response]

= render 'rss-ad'
